{% extends 'base.html' %}
{% load static %}

{% block title %}
Doggie - About Page
{% endblock %}

{% block content %}
    <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Know about Doggie</p>
                </div>
            </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                     <br><br>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet est modi nostrum porro ratione reprehenderit
                    vitae. Impedit minima nihil odit quaerat quam quia reiciendis repellat soluta suscipit temporibus ut, vel?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eos et ex facere harum in
                    incidunt ipsam, minus numquam odit quas quos rem repudiandae! Excepturi, exercitationem,
                    officia! Amet, consectetur, sint.
                    <br>
                    Ad autem fugiat modi natus, odio ratione reprehenderit saepe veritatis. Deserunt fugiat
                    molestias possimus quos repellat sit, veritatis? Ad architecto deserunt dolorum ea eius esse
                    neque, non recusandae tempora vitae.
                    <br>
                    Et fugiat necessitatibus nemo nostrum sit voluptate! Accusamus architecto aut consequatur
                    cumque delectus deleniti dicta eaque est exercitationem illo laborum magnam molestias mollitia,
                    nulla rerum sit suscipit tempore temporibus voluptate.
                    </p>
                    <br><br>
                </div>
            </center>
        </div>
    </div>
{% endblock %}